<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /FluxBB-legion/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)/([a-z]*) api/api.php?context=$1&mod=$2 [NC,QSA]
RewriteRule (.*)/([0-9]*) api/api.php?context=$1&id=$2 [NC,QSA]
</IfModule>